<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
    <title>WeatherLabs</title>
    <link rel="icon" type="image/x-icon" href="images/weatherLabs32x32.png">
    <link rel="stylesheet" href="css/results.css">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="results-container">
        <div class="section header">
            <div class="location-container">
                <i class="fa-sharp fa-solid fa-location-dot"></i>
                <p class="bold-text"><%= weatherDetails.location.city %>, <%= weatherDetails.location.country %></p>
            </div>
        </div>
        <div class="section main">
            <img src="<%=weatherDetails.weather.icon %>" alt="weather-img">
            <p class="bold-text num-type"><%=weatherDetails.main.temp %>°</p>
            <p><%=weatherDetails.weather.desc %></p>
        </div>
        <div class="section footer">
            <div class="sub-section">
                <i class="fa-solid fa-droplet"></i>
                <div>
                    <p class="bold-text"><%=weatherDetails.main.humidity %></p>
                    <p>Humidity</p>
                </div>
            </div>
            <div class="sub-section">
                <i class="fa-solid fa-wind"></i>
                <div>
                    <p class="bold-text"><%=weatherDetails.main.wind.speed %> m/s</p>
                    <p>Wind Speed</p>
                </div>
            </div>
        </div>
    </div>
    <%- include("./partials/footer") %>
    <script src="https://kit.fontawesome.com/c0fe12e66f.js" crossorigin="anonymous"></script>
</body>

</html>


